.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.form {
  background: #d3e1e5;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.offset-6 {
  margin-left: 50%;
  padding: 0px;
  text-align: left !important;
}

.picker {
  margin: 10px;
}

.picker {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #fdb827;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.picker:hover {
  opacity: 1;
}

.picker::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  background: url("https://image.flaticon.com/icons/svg/694/694056.svg");
  cursor: pointer;
}

.form-group {
  margin-bottom: 0px !important;
  margin-top: 10px !important;
  font-size: 16px;
}

/* .box {
  border: 1px solid green;
} */

.row {
  margin-right: 0px !important;
}

.pickerRed {
  margin: 10px;
}

.pickerRed {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: red;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.pickerRed:hover {
  opacity: 1;
}

.pickerRed::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  background: url("https://image.flaticon.com/icons/svg/694/694056.svg");
  cursor: pointer;
}

.pickerGreen {
  margin: 10px;
}

.pickerGreen {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #51c651;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.pickerGreen:hover {
  opacity: 1;
}

.pickerGreen::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  background: url("https://image.flaticon.com/icons/svg/694/694056.svg");
  cursor: pointer;
}

.pickerBlue {
  margin: 10px;
}

.pickerBlue {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #0080ff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.pickerBlue:hover {
  opacity: 1;
}

.pickerBlue::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  background: url("https://image.flaticon.com/icons/svg/694/694056.svg");
  cursor: pointer;
}
